# Tuples in Python

Tuples are immutable lists and cannot be changed in any way once it is created

- Tuples are defined in the same way as list
- They are enclosed within parenthesis ans not within square braces
- Tuples are ordered, indexed collections of data
- similar to string indices, the first value in the tuple will have the index 0
- Negative indices are counted from the end of the tuple, just like lists.
- Tuples can store duplicate values

In [3]:
# Let's crete a tuple

tuple_1 = ('hello', 'python', 3.22, 'naim', 23)
print(tuple_1)
print(type(tuple_1))
print(len(tuple_1))

('hello', 'python', 3.22, 'naim', 23)
<class 'tuple'>
5

In [11]:
# Indexing 

# Printing the each value in a tuple using both positive and negative indexing

tp = ('naim', 7.89, 90, (3, 4, 5), [2,3,4], {'a':1, 'b':2})
print(tp)
print(tp[0])
print(tp[3])
print(type(tp[3]))
print(type(tp[4]))
print(type(tp[0]))
print(type(tp[5]))

('naim', 7.89, 90, (3, 4, 5), [2, 3, 4], {'a': 1, 'b': 2})
naim
(3, 4, 5)
<class 'tuple'>
<class 'list'>
<class 'str'>
<class 'dict'>

# Concatenation of tuples

### To concatenate tuples, '+' sign is used

In [12]:
tup = ('naim', 20)
tp = tup + ('Hello naim', 2022)
print(tup)
print(tp)

('naim', 20)
('naim', 20, 'Hello naim', 2022)

In [13]:
# Repetitioin of a tuple

rep_tup = (1, 2, 3, 4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
temp_tup = (1, 2, 3, 4, 5)

print(3 in temp_tup)
print(3 not in temp_tup)

True
False

# Iteration through a tuple

In [15]:
temp_tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in temp_tup:
    print(i)

1
2
3
4
5
6
7
8
9
10

# Concatenation of tuples

### To concatenate tuples use '+' sign

In [3]:
tup1 = ('naim', 20, 10.4)
tup2 = ('ashraful', 22, 11.3)

tup = tup1+tup2 # concatenating

print(tup1)
print(tup2)
print(tup)

('naim', 20, 10.4)
('ashraful', 22, 11.3)
('naim', 20, 10.4, 'ashraful', 22, 11.3)

# repetition of a tuple

In [4]:
# to repeat a tuple use tuple_name*number_of_repetition

tup*3

('naim',
 20,
 10.4,
 'ashraful',
 22,
 11.3,
 'naim',
 20,
 10.4,
 'ashraful',
 22,
 11.3,
 'naim',
 20,
 10.4,
 'ashraful',
 22,
 11.3)

# Membership

In [6]:
# use 'in' and 'not in' to check membership of tuple

print('naim' in tup)
print('main' in tup)
print('naim' not in tup)
print('ashraful' not in tup)
print('sayed' not in tup)

True
False
False
False
True

# min() and max() function

In [9]:
num = (1, 2, 3, 4, 5, 6, 7)
print('minimum : ', min(num))
print('maximum : ', max(num))

print('max - min : ', max(num)-min(num))

minimum :  1
maximum :  7
max - min :  6

## Slicing

To obtain a new tuple from the current tuple, the slicing method is used

In [25]:
# Obtaining a new tuple from the index 1 to 5

num = (1,2,3,4,5,6,7)

print(num[0:4])

# negative indexing

print(num[-3:-1])

(1, 2, 3, 4)
(5, 6)

In [26]:
# find lenght of a tuple

print("len of num tuple = ", len(num))

len of num tuple =  7

In [27]:
# sorting  a tuple

unsorted_num = (1, 3, 5, 9, 8, 6, 2, 4, 7)

sorted_num = sorted(unsorted_num)

print(unsorted_num)
print(sorted_num)

(1, 3, 5, 9, 8, 6, 2, 4, 7)
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# check immutability of tuples

In [29]:
n = (1, 2, 3)
print(n[0])
n[0] = 4

1

TypeError: 'tuple' object does not support item assignment

In [31]:
# count function

num = (1, 2, 3, 4, 5, 6, 7, 7, 7)

print(num.count(7))

3

In [33]:
# Index method

tup = (1, 2, 3.4, 5, 6)

print(tup.index(1))
print(tup.index(3.4))

0
2

In [34]:
# One element tuple

# if a tuple includes only one element, should put a comma after the element

tup = (6)
print(tup)
print(type(tup))

tup = (6, )
print(tup)
print(type(tup))

6
<class 'int'>
(6,)
<class 'tuple'>