# Tuples in Python

Tuples are immutable lists and cannot be changed in any way once it is created

- Tuples are defined in the same way as list
- They are enclosed within parenthesis ans not within square braces
- Tuples are ordered, indexed collections of data
- similar to string indices, the first value in the tuple will have the index 0
- Negative indices are counted from the end of the tuple, just like lists.
- Tuples can store duplicate values

In [3]:
# Let's crete a tuple

tuple_1 = ('hello', 'python', 3.22, 'naim', 23)
print(tuple_1)
print(type(tuple_1))
print(len(tuple_1))

('hello', 'python', 3.22, 'naim', 23)
<class 'tuple'>
5

In [11]:
# Indexing 

# Printing the each value in a tuple using both positive and negative indexing

tp = ('naim', 7.89, 90, (3, 4, 5), [2,3,4], {'a':1, 'b':2})
print(tp)
print(tp[0])
print(tp[3])
print(type(tp[3]))
print(type(tp[4]))
print(type(tp[0]))
print(type(tp[5]))

('naim', 7.89, 90, (3, 4, 5), [2, 3, 4], {'a': 1, 'b': 2})
naim
(3, 4, 5)
<class 'tuple'>
<class 'list'>
<class 'str'>
<class 'dict'>

# Concatenation of tuples

### To concatenate tuples, '+' sign is used

In [12]:
tup = ('naim', 20)
tp = tup + ('Hello naim', 2022)
print(tup)
print(tp)

('naim', 20)
('naim', 20, 'Hello naim', 2022)

In [13]:
# Repetitioin of a tuple

rep_tup = (1, 2, 3, 4)
rep_tup*2

(1, 2, 3, 4, 1, 2, 3, 4)

In [14]:
temp_tup = (1, 2, 3, 4, 5)

print(3 in temp_tup)
print(3 not in temp_tup)

True
False

# Iteration in a tuple

In [15]:
temp_tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in temp_tup:
    print(i)

1
2
3
4
5
6
7
8
9
10