# Python List

    - Lists are ordered
    - List can contain any arbitrary objects
    - List elements can be accessed by index
    - List can be nested to arbitrary depth
    - Lists are mutable
    - Lists are dynamic

## Indexing

In [1]:
# Creating List

lst = ['naim', 101, 10.11, True]
lst

['naim', 101, 10.11, True]

In [4]:
print('Positive and negative indexing of the first element: \n - positive index[0]: ', lst[0])
print('Positive and negative indexing of the first element: \n - negative index[-1]: ', lst[-1])
print('Positive and negative indexing of the first element: \n - positive index[1]: ', lst[1])
print('Positive and negative indexing of the first element: \n - negative index[-2]: ', lst[-2])

Positive and negative indexing of the first element:
 - positive index[0]:  naim
Positive and negative indexing of the first element:
 - negative index[-1]:  True
Positive and negative indexing of the first element:
 - positive index[1]:  101
Positive and negative indexing of the first element:
 - negative index[-2]:  10.11

## What can contennt a list? 

    - Strings
    - Integer
    - Floats
    - Boolean
    - another list
    - touple
    - other data structure

In [5]:
lst = ['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11]
lst

['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11]

## List operation

In [8]:
# take a list

print(lst)

# length of the list
print('length of the list : ', len(lst))

['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11]
length of the list :  5

## Slicing

In [14]:
# Slicing of a list

print(lst[0:3])
print(lst[2:5])

['naim', 'python', 3.1416]
[3.1416, [1, 2, 3, 4, 5, 6], 10.11]

### Extending the list

use extend method extend() to extend the list to add a new item to the list.

In [22]:
# taking list lst

print('before extending : ', lst)

lst.extend(['main', 'ru', 100])

print('after extending : ', lst)

# append() method used for add something at last position

lst.append('wtf')
print('after append : ', lst)

# append a list at last

lst.append(['naim', 'main', 'iman', 'nmai'])
print('After list append : ', lst)

before extending :  ['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11, 'main', 'ru', 100, 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf']
after extending :  ['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11, 'main', 'ru', 100, 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf', 'main', 'ru', 100]
after append :  ['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11, 'main', 'ru', 100, 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf']
After list append :  ['naim', 'python', 3.1416, [1, 2, 3, 4, 5, 6], 10.11, 'main', 'ru', 100, 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, ['wtf'], 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf', 'main', 'ru', 100, 'wtf', ['naim', 'main', 'iman', 'nmai']]

In [24]:
# Length of the list 
print('length of the list : ', len(lst))
print('count naim : ', lst.count('naim'))

length of the list :  29
count naim :  1

In [34]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(numList)
print(numList.count(1))
print('maximum number : ', max(numList))
print('minimum number : ', min(numList))

# print sum of the lsit
print('sum of the list : ', sum(numList))

# insert methos
numList.insert(11, 11)
numList
print(numList.index(2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
maximum number :  10
minimum number :  1
sum of the list :  55
1

### Deleting element's from a list using del() function

In [56]:
tempList = numList

print('Before changing : ', tempList)

# del(tempList[0]) # at index 10 num 11 deleted
print('After changing : ', tempList)
numList
# del(numList[-1])
print('After changing : ', numList)

Before changing :  []
After changing :  []
After changing :  []

## Conversion of a string into a list usign split function

In [61]:
msg = 'university of Rajshahi bangladesh'
lst = msg.split()
print(lst)

# also use of split functioni

txt = 'p,y,t,h,o,n'
txt_lst = txt.split(',')
print(txt_lst)

['university', 'of', 'Rajshahi', 'bangladesh']
['p', 'y', 't', 'h', 'o', 'n']

In [65]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(numList*2)

for i in numList:
    print(i)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [68]:
# Copy a slit to another list

newList = numList

print(numList)
print(newList)

# The element in the copied list also changes when the element inthe original list was changed

newList[0] = 0
print(newList) 
print(numList) # NumList also changed

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Clone the list to another list

In [75]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# The cloned list is a new copy or clone of the original lis

clone_list = numList[:]

clone_list

# let's change it's value

clone_list[0] = 111
print(clone_list)
print(numList) # no change look up!

[111, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Concatenate the list

In [80]:
# Let's create two list

list_a = ['a', 'b', 'c', 'd']
list_b = [1, 2, 3, 4, 5, 6]

new_list = list_a + list_b
print(list_a)
print(list_b)
print("After concatenate : ")
print(new_list)

['a', 'b', 'c', 'd']
[1, 2, 3, 4, 5, 6]
After concatenate :
['a', 'b', 'c', 'd', 1, 2, 3, 4, 5, 6]

# As different from the list, also find significant the following information

## input() function
    - input() function in python provides a user of a program supply inputs to the program at runtime

In [81]:
# let's take a input

txt = input("Enter a message : ")
print('Entered message : ')
print(type(txt))

Enter a message :  this is a string from python

Entered message :
<class 'str'>

In [82]:
# altohough the function wants an integer, the type of the entered number is a string.
number = input('Enter an integer: ')
print('The number is : ', number)
print(type(number))

Enter an integer:  123456

The number is :  123456
<class 'str'>

In [83]:
# To get integer input use int() converter
number = int(input('Enter an integer : '))
print('the number : ', number)
print(type(number))

Enter an integer :  123

the number :  123
<class 'int'>

In [84]:
# To get float input use int() converter
number = float(input('Enter an integer : '))
print('the number : ', number)
print(type(number))

Enter an integer :  1.25

the number :  1.25
<class 'float'>

### eval() function
```python
expression = '8+7'
total = eval(expression)
print('Sum of the expression is', total)
print(type(expression))
print(type(total))

```

In [86]:
expr = '9*3+3'
total = eval(expr)
print('result : ', total)
print(type(total))

result :  30
<class 'int'>

### format() function
    - This function helps to format the outut printed on the screen with good look and attractive.

In [88]:
# let's code

a = int(input('enter a number : '))
b = int(input('enter another number : '))
total = a+b

print('sum of {} and {} is : {} '.format(a, b, total))

enter a number :  122
enter another number :  225

sum of 122 and 225 is : 347

In [91]:
firstName = input('enter your first name : ')
lastName = input('enter your last name : ')

print('your first name {} and last name {} and full name {}'.format(firstName, lastName, firstName+ ' ' +lastName))

enter your first name :  zannatul
enter your last name :  naim

your first name zannatul and last name naim and full name zannatul naim