# Loops in Python

- A for loop is used for iterating over a sequence (that is either a list, tuple, a dictionary, a set, or a string).
- The for loop doesn't require an indexing variable to set beforehand.
- With the while loop we can execute a set of statements as long as a condition is true.

### range() function

- It is helpful to think of the range object as an ordered list.
- To loop through a set of code a specified number of times
- The range() function returns a sequence of numbers, starting from 0 by default, and increment by 1 by defauld, and ends at a specified number.

In [17]:
# let's take a general for loop

for i in range(0, 10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [2]:
# Let's check range() function

print(range(5))
print(range(1, 10))

range(0, 5)
range(1, 10)

In [16]:
# Let's take an example
# Directly accessing to the elements in the list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for number in numbers:
    print(number, end=' ')

1 2 3 4 5 6 7 8 9 10

In [15]:
# let's take another example

for i in range(len(numbers)):
    print(numbers[i], end=" ")

1 2 3 4 5 6 7 8 9 10

In [14]:
# Striding in for loop

for i in range(2, 12, 3):
    print(i, end= " ")

2 5 8 11

In [9]:
# Enumaretion of the elements in the list

names = ['naim', 'ashraful', 'shakil', 'sayed', 'nasir']

for index, name in enumerate(names):
    print(index, name)

0 naim
1 ashraful
2 shakil
3 sayed
4 nasir

In [13]:
# Take the number between -10 to 3 using for loop

# use range() function

for i in range(-10, 4):
    print(i, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3

In [19]:
# Let's create a multiplication table using for loop 

number = int(input('enter a number to get multiplication table : '))

for i in range(1, 11):
    print(f'{number}X{i} = {number*i}')

enter a number to get multiplication table :  5

5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
5X10 = 50

In [21]:
# addition and average calculation in for loop

lst = [1.20, 3.33, 6.54, 50, 20, 40, 54, 33.33]

# write a for loop for addition

count = 0

for i in lst:
    count += i

print(f'total value is : {count}')

avg = count/len(lst)

print(f'average is : {avg}')

total value is : 208.39999999999998
average is : 26.049999999999997

In [23]:
# for else statement

for i in range(1, 6):
    print(i, end=" ")
else :
    print('\nprinted value range 1 to 5')

1 2 3 4 5
printed value range 1 to 5

In [30]:
# nested for loop

num = int(input('enter a number : '))

print(f'your entered number is : {num}')

i, j = 0, 0

for i in range(0, num):
    print()
    for j in range(0, i+1):
        print('*', end='')
    # print('\n')

enter a number :  5

your entered number is : 5

*
**
***
****
*****

In [35]:
# continue in for loop

# let's take a list

lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for i in lst:
    if i%2 == 0: # program will skip all even numbers
        continue
    print(i, end=' ')

1 3 5 7 9

In [36]:
# break in for loop

for i in lst:
    if i == 6: # program will break at 6
        break
    print(i, end=' ')

1 2 3 4 5

# While loop

In [37]:
# let's code for while loop

i = 5
while i != 0:
    print(i, end=' ')
    i-=1

5 4 3 2 1

In [39]:
# Print the movie ratings gretater than 6.
movie_rating = [8.0, 7.5, 5.4, 9.1, 6.3, 6.5, 2.1, 4.8, 3.3]
index = 0
rating = movie_rating[0]
while rating>=6:
    print(rating)
    index += 1
    rating = movie_rating[index]
print('There is only', index, 'movie rating, because the loop stops when it meets with the number lower than 6.')

8.0
7.5
There is only 2 movie rating, because the loop stops when it meets with the number lower than 6.

In [40]:
# while - else statement

index = 0
while index <= 5:
    print(index, end=' ')
    index += 1
else:
    print('it gives the numbers between 0 to 5')

0 1 2 3 4 5 it gives the numbers between 0 to 5

In [42]:
# continue in while loop

i = 0
while i<=5:
    print(i, end=' ')
    i+=1
    if i == 3:
        continue

0 1 2 3 4 5