In [1]:
# First python output with 'print' function
print("Hello World!")
print("Hello python")

Hello World!
Hello python

In [2]:
# Python version Check

import sys
print(sys.version)  # version Control
print(sys.winver)   # version number of the Python DLL [Windows only]
print(sys.gettrace)  # get the global debug tracing function
print(sys.argv)  # keeps the parameters used while running the pgorgram we wrote in a list

3.10.4 (tags/v3.10.4:9d38120, Mar 23 2022, 23:13:41) [MSC v.1929 64 bit (AMD64)]
3.10
<built-in function gettrace>
['C:\\Users\\HP\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\ipykernel_launcher.py', '-f', 'C:\\Users\\HP\\AppData\\Roaming\\jupyter\\runtime\\kernel-07fb9377-3823-4ed6-a322-5897f12205fd.json']

In [4]:
# To write a comment use '#' symbol for it.

print("Hello python!") # Comment: This line prints a string 'hello python!'
# To print 'hello' in the console
print('hello')

Hello python!
hello

In [5]:
# Errors in python

# Print string as erros message

Print("hello python!")

NameError: name 'Print' is not defined

In [6]:
# Print both string and error to see the running order

print("this line will be printed")
frint("this line have an error") # Program destroyed from here
print("this line will not be printed") # this line will not executed

this line will be printed

NameError: name 'frint' is not defined

In [8]:
# Basic Data Types in Python

#String
print("Hello World!") # Hello World!

#Integer
print(12) # 12

#Float
print(3.1416) # 3.1416

#Boolean
print(True) #True
print(False) #False

print(bool(1)) #True
print(bool(0)) #False
print(bool(5)) #True
print(bool(-1)) #True

Hello World!
12
3.1416
True
False
True
False
True
True

In [9]:
# Types of Data Type:

#String
print(type("hello python"))

#Integer
print(type(1))
print(type(100))

#Float
print(type(1.23))
print(type(0.11))

#Boolean
print(type(False))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'bool'>

In [10]:
# To obtaiin the information about 'integer' and float

print(sys.int_info)
print()
print(sys.float_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4)

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [15]:
# Type Conversion

number = 6
print(number)
print(str(number))
print(float(number))
print(type(number))
print(type(str(number)))
print(type(float(number)))

6
6
6.0
<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
str(number)

'6'

In [16]:
# Let's convert the float 4.55 to a string and an integer
number = 4.55

print(number)
print(str(number))
print(int(number))
print(type(number))
print(type(str(number)))
print(type(int(number)))

4.55
4.55
4
<class 'float'>
<class 'str'>
<class 'int'>

In [17]:
str(number)

'4.55'

In [18]:
# Let's convert the booleans to an integer, a float, and a string

bool_1 = True
bool_2 = False

print(bool_1)
print(bool_2)

print(int(bool_1))
print(int(bool_2))

print(float(bool_1))
print(float(bool_2))

print(str(bool_1))
print(str(bool_2))

print(bool(1))
print(bool(0))

True
False
1
0
1.0
0.0
True
False
True
False

In [19]:
# Let's find the datay types of 6/3 and 9/4

print(6/3)
print(9/4)

print(type(6/3))
print(type(9/4))

print(9//4) # integer division

print(type(9//4))

2.0
2.25
<class 'float'>
<class 'float'>
2
<class 'int'>

In [28]:
# Expressions and variables

#Addition

sum = 34+90+90.90+23+8+76.98
print(sum)
print(type(sum))

#Subtraction

sub = 56-87+90+32-20
print(sub)
print(type(sum))

#Division

div = 90/3
print(div)
print(type(div))

# Floor Division

f_div = 100//3
print(f_div)
print(type(f_div))

# Multiplication

mul = 100*100
print(mul)
print(type(mul))

# Modulus

mod = 90%4
print(mod)
print(type(mod))

# Exponentiation

exp = 10**2
print(exp)
print(type(exp))

322.88
<class 'float'>
71
<class 'float'>
30.0
<class 'float'>
33
<class 'int'>
10000
<class 'int'>
2
<class 'int'>
100
<class 'int'>

In [30]:
# An example: Let's calculate how many minutes there are in 60 hours?

one_hour = 60  # 60 minutes
given_hour = 60
total_hour = one_hour * given_hour

print(total_hour)
print(type(total_hour))

# An example : Let's calculate how many hours are in 512 minutes?

given_minutes = 512
total_hours = given_minutes/one_hour
print(total_hours)
print(type(total_hours))

3600
<class 'int'>
8.533333333333333
<class 'float'>

In [31]:
# Employ double quotation marks for describing a string
"Hello World!"

'Hello World!'

In [32]:
# Digits as string
'9876543210'

'9876543210'

In [33]:
# Assigning a string to a variable
message = "this is a string"
print(message)

this is a string

In [34]:
# printing the element on index 8 in a string
print(message[8])

a

In [35]:
# Length of the string

len(message)

16

In [54]:
message = 'naim'
print(len(message))
print(message[1])
print(message[-1])
print(message[-3])

# slicing on the variable 'message' with only 0 to index 4
print(message[0:4])

# to select every second element in the variable 'message'
print(message[::2])

print(message[:3])

print(message[0:4:1])

4
a
m
a
naim
ni
nai
naim

In [55]:
# Stirng concatenation

message1 = "Hello"
message2 = " World"

message = message1 + message2 # concate using (+) operator
print(message)

Hello World

In [56]:
# Printing a string n times

n = 10
print(message*n)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello WorldHello World

In [61]:
# Escape sequences

# New line escape sequence
print("Hello world! \nHow many people are living on the earth?")

# Tab scape sequence
print("Hello\tWorld")

# BackSlash escape sequence
print("Hello \\World")

# r will say python that a string will be shown as a raw string
print(r'Hello world \n new line not work')

Hello world!
How many people are living on the earth?
Hello	World
Hello \World
Hello world \n new line not work

In [63]:
name = 'Naim'

print('Main string : ', name)

# Convert uppercase the elements in a string
name_upper = name.upper()
print('name in upper : ', name_upper)

#convert lowercase the elements in a string
name_lower = name.lower()
print('name in lower : ', name_lower)

# convert first letter of string uppercase
name_title = name.title()
print('The CamelCase string : ', name_title)

Main string :  Naim
name in upper :  NAIM
name in lower :  naim
The CamelCase string :  Naim

In [67]:
# replace() method in string

name = 'zannatul naim'
name_without_naim = name.replace('naim', 'main')
print(name_without_naim)
print(name)

zannatul main
zannatul naim

In [76]:
# find() method application a string

name = 'Zannatul Naim'

print(name.find('Naim'))

# the output is the index number of the first element of the substirng

# if can't find return's -1 
print(name.find('x')) # x isn't available in the string

9
-1

In [77]:
# center() method will center align the string, using a specified chareacter (space is the defalult) as the fill character
name = 'Naim'
naim.center(20, '_')

'___Zannatul Naim____'

In [79]:
# count() method returns the number of elements with the specified value
text = 'naim naim naim main naim naim main'
text.count('naim')

5

In [84]:
# format mehtod

"""
The format() method formats the specified value(s) and insert them inside the string's placeholder.
the place holder is defined using curly brackets : {}.
"""

name = "zannatul {nickname}"

print(name.format(nickname = "naim"))

details = "Hi, My name is {} and i am {} years old"
print(details.format('naim', 20))

message = 'He, my name is {name} and i am {age} years old'
print(message.format(age = 20, name = 'naim'))

# print message by index formatting
msg = 'Hi, my name is {0} and i am {1} years old'
print(msg.format('naim', 20))

zannatul naim
Hi, My name is naim and i am 20 years old
He, my name is naim and i am 20 years old
Hi, my name is naim and i am 20 years old!