# Sets in Python

- Set is one of 4 built-in data types in Python  used to store collections of data including list, tuple and dicitonary
- Sets are unordered
- Set elements are unique, duplicates are not allowed
- set denoted by curly brackes {}

In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set

x = {}

print(type(x))

<class 'dict'>

In [3]:
# To take a set without elements, use set() function without any items

y = set()
print(type(y))

<class 'set'>

In [4]:
# let's code for set

s = {'naim', 'naim', 3.22, 1, 3, 6}

print(s)

{1, 3.22, 3, 6, 'naim'}

In [5]:
# Converting list ot set

# let's take a list
lst = [1, 2, 3, 4, 5, 6, 6, 7 , 4, 3, 2, 1]

s = set(lst)
print(lst)
print(s)

[1, 2, 3, 4, 5, 6, 6, 7, 4, 3, 2, 1]
{1, 2, 3, 4, 5, 6, 7}

In [7]:
# Set operations

s = set(['naim', 'main', True, False, 2022, 2002, 32.3, 1.22])

s

{1.22, 2002, 2022, 32.3, False, True, 'main', 'naim'}

In [9]:
# Use of add() function

s.add('hello, python')
s

{1.22, 2002, 2022, '3.14', 32.3, False, True, 'hello, python', 'main', 'naim'}

In [11]:
# use of update() function

s.update({3})
s

{1.22,
 2002,
 2022,
 3,
 '3.14',
 32.3,
 False,
 True,
 'hello, python',
 'main',
 'naim'}

In [17]:
# use of remove() function

s.remove(2002)
s

{1.22, 2022, 3, '3.14', 32.3, False, True, 'main', 'naim'}

# Logic Operation in sets

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6}

# intersection

inter_set = set1&set2
print(inter_set)
print(set1.intersection(set2))

# difference() function
print(set1.difference(set2))

# Set comparision
print(set1 > set2)
print(set1 < set2)
print(set1 == set2)

# find union()
print(set1.union(set2))

{3, 4, 5}
{3, 4, 5}
{1, 2}
False
False
False
{1, 2, 3, 4, 5, 6}

In [30]:
u = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6}
s3 = {10, 4, 55, 9}

# check issuperset()
print(u.issuperset(s1))
print(u.issuperset(s2))
print(u.issuperset(s3))

# check issubset
print(s1.issubset(u))
print(s2.issubset(u))
print(s3.issubset(u))

True
True
False
True
True
False

## No mutable sequence in a set

A set can not have mutable elements such as list or dictionary in it. If any, it returns error

In [31]:
s = {'naim', 1, 2, 3, [4, 5, 6]}
s

TypeError: unhashable type: 'list'

In [32]:
# index function
# this function doesn't work in set since the set is unordered collection

s = {1, 2, 3, 4}
s[0]

TypeError: 'set' object is not subscriptable

# Copy of set

In [39]:
s = {1, 2, 3, 4, 5, 6}
t_s = s
print(s)
print(t_s)

t_s.add(7)
print(s)
print(t_s)

# use of copy function

s3 = {1, 3, 5, 7}
s4 = s3.copy() # makes a copy doesn't copy memory ref.
print(s3)
print(s4)

s4.add(9)
print(s3)
print(s4)

# pop function 
# it removes and return as arbitrary set element
s = {1, 2, 3, 4}
print(s)
s.pop()
print(s)

# clear function used to clear a set

s.clear()
print(s)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 3, 5, 7, 9}
{1, 2, 3, 4}
{2, 3, 4}
set()